<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout"> <!--타임리프를 사용하겠다는말-->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/vehicle/list.css}">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script defer th:src="@{/js/vehicle/list.js}"></script>

    <title>검색결과</title>
</head>

<th:block layout:fragment="content">
    <div class="container">
        <th:block th:if="${session.loginUser!=null}">
            <input type="hidden" th:value="${session.loginUser.iuser}" id="iuser">
        </th:block>
        <div class="row">
            <!--사이드 메뉴-->
            <nav id="sidebarMenu" class="col-sm col-md-2 g-3">
                <div class="sidebarMenu_menu">
                    <!--검색창-->
                    <form class="form-group" id="search_Result_Frm">
                        <div class="input-group mb-3">
                            <input type="text" name="search_area" class="form-control my-sm-1" placeholder="모델명으로 입력" aria-label="검색하기" aria-describedby="search_area">
                            <button class="btn btn-outline-info my-sm-1" type="submit" id="search__area_btn">검색</button>
                        </div>
                    </form>
                    <!--검색창End-->
                    <hr>
                    <!-- 셀렉트검색창-->
                    <form d="List_search_Frm">
                        <div class="accordion accordion-flush" id="search_list">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="search_list_com">
                                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#select_com" aria-expanded="false" aria-controls="select_com">
                                        제조사
                                    </button>
                                </h2>
                                <div id="select_com" class="accordion-collapse collapse" aria-labelledby="search_list_com">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="manufacturer" value="기아" id="kia" onchange="getSearchList()">
                                            <label class="form-check-label" for="kia">
                                                기아
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="manufacturer" value="현대" id="hyundai" onchange="getSearchList()">
                                            <label class="form-check-label" for="hyundai">
                                                현대
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="manufacturer" value="쌍용" id="ssangyong" onchange="getSearchList()">
                                            <label class="form-check-label" for="ssangyong">
                                                쌍용
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="manufacturer" value="쉐보레" id="chevo" onchange="getSearchList()">
                                            <label class="form-check-label" for="chevo">
                                                쉐보레
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="manufacturer" value="르노" id="rno" onchange="getSearchList()">
                                            <label class="form-check-label" for="rno">
                                                르노
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="search_list_km">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#select_km" aria-expanded="false" aria-controls="select_km">
                                        주행 거리
                                    </button>
                                </h2>
                                <div id="select_km" class="accordion-collapse collapse" aria-labelledby="search_list_year">
                                    <div class="accordion-body">
                                        <select id="start_Mileage" class="form-select form-select-sm" onchange="getSearchList()">
                                            <option value="0">0</option>
                                            <option value="50000">5만</option>
                                            <option value="100000">10만</option>
                                            <option value="200000">20만</option>
                                        </select>~
                                        <select id="end_Mileage" class="form-select form-select-sm" onchange="getSearchList()">
                                            <option value="0">0</option>
                                            <option value="50000">5만</option>
                                            <option value="100000">10만</option>
                                            <option value="200000">20만</option>
                                            <option value="300000">30만</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="search_list_price">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#select_price" aria-expanded="false" aria-controls="select_price">
                                        가격
                                    </button>
                                </h2>
                                <div id="select_price" class="accordion-collapse collapse" aria-labelledby="search_list_price">
                                    <div class="accordion-body">
                                        <select id="start_price" class="form-select form-select-sm" onchange="getSearchList()">
                                            <option value="0">0원</option>
                                            <option value="500">500만원</option>
                                            <option value="1000">1000만원</option>
                                            <option value="3000">3000만원</option>
                                        </select>~
                                        <select id="end_price" class="form-select form-select-sm" onchange="getSearchList()">
                                            <option value="0">0원</option>
                                            <option value="500">500만원</option>
                                            <option value="1000">1000만원</option>
                                            <option value="3000">3000만원</option>
                                            <option value="5000">5000만원</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="search_list_gearbox">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#select_gearbox" aria-expanded="false" aria-controls="select_gearbox">
                                        변속기
                                    </button>
                                </h2>
                                <div id="select_gearbox" class="accordion-collapse collapse" aria-labelledby="search_list_gearbox">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="오토" id="auto" name="gearbox" onchange="getSearchList()">
                                            <label class="form-check-label" for="auto">
                                                오토
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="수동" id="stick"  name="gearbox" onchange="getSearchList()">
                                            <label class="form-check-label" for="stick">
                                                수동
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="search_list_fuel">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#select_fuel" aria-expanded="false" aria-controls="select_fuel">
                                        연료
                                    </button>
                                </h2>
                                <div id="select_fuel" class="accordion-collapse collapse" aria-labelledby="search_list_fuel">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="기본타입" id="default" name="fuel" onchange="getSearchList()">
                                            <label class="form-check-label" for="default">
                                                기본타입
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="디젤" id="diesel"  name="fuel" onchange="getSearchList()">
                                            <label class="form-check-label" for="diesel">
                                                디젤
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="LPG" id="LPG" name="fuel" onchange="getSearchList()">
                                            <label class="form-check-label" for="LPG">
                                                LPG
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="하이브리드" id="hybrid"  name="fuel" onchange="getSearchList()">
                                            <label class="form-check-label" for="hybrid">
                                                하이브리드
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="search_list_aria">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#select_aria" aria-expanded="false" aria-controls="select_aria">
                                        지역
                                    </button>
                                </h2>
                                <div id="select_aria" class="accordion-collapse collapse" aria-labelledby="search_list_aria">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="서울" id="seoul" name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="seoul">
                                                서울
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="인천" id="incheon"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                인천
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="대전" id="daejeon"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                대전
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="대구" id="daegu"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="daegu">
                                                대구
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="광주" id="gwangju"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="gwangju">
                                                광주
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="부산" id="busan"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="busan">
                                                부산
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="울산" id="ulsan"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="ulsan">
                                                울산
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="세종" id="sejong"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                세종
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="경기" id="gyeonggi"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                경기
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="강원" id="gangwon"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                강원
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="경남" id="gyeongnam"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                경남
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="경북" id="gyeongbuk"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                경북
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="전남" id="jeollanam"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                전남
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="전북" id="jeollbuk"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                전북
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="충남" id="chungnam"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                충남
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="충북" id="chungbuk"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                충북
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="제주" id="jeju"  name="area" onchange="getSearchList()">
                                            <label class="form-check-label" for="incheon">
                                                제주
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--셀렉트 검색창 End----------------------------------->
                </div>
            </nav>
            <!--컨텐츠 부분------------------------------------------------->
            <div class="col-sm col-md-10">
                <h3>검색 결과</h3>
                <hr>
                <ul id="list_order" class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{#}">최신</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}">좋아요순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}">신뢰도순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}">낮은가격순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}">높은가격순</a>
                    </li>
                </ul>
                <div class="album  bg-light">
                    <div id="list_result" class="container">
                        <div class="row row-cols-1 row-cols-md-3 g-4 card-group listdiv">
                            <!--리스트 결과 뿌려지는 부분-->
                        </div>
                    </div>
                    <div id="page_container">
                        <nav>
                            <ul class="pagination justify-content-center">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="map" style="width:500px;height:400px;"></div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7b9b781c5adc37c26e0b14e776ae7f27"></script>
            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(35.86607144630034, 128.59378175599252), // 지도의 중심좌표
                        level: 3, // 지도의 확대 레벨
                        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
                    };

                // 지도를 생성한다
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 지도에 마커를 생성하고 표시한다
                var marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(35.86607144630034, 128.59378175599252), // 마커의 좌표
                    draggable : true, // 마커를 드래그 가능하도록 설정한다
                    map: map // 마커를 표시할 지도 객체
                });

                // 마커에 클릭 이벤트를 등록한다
                kakao.maps.event.addListener(marker, 'click', function() {
                    confirm('이 위치를 보내시겠습니까?');
                });
            </script>
        </div>
    </div>
</th:block>
</html>