<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout"> <!--타임리프를 사용하겠다는말-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/vehicle/write.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<th:block layout:fragment="content">
    <form action="/vehicle/write" method="post" id="in_form" onsubmit="return false" enctype="multipart/form-data">
        <div id="content">
            <h1>차량정보</h1>
            <h2>차량 번호</h2>
            <div><input type="text" placeholder="12가3456" name="car_number" id="car_number"></div>
            <h2>차량 모델</h2>
            <div class="type" id="car_model">
                <input type="radio" id="category1" name="category" value="국산" onclick="ko(0)">
                <label for="category1">국산</label>
                <input type="radio" id="category2" name="category" value="수입" onclick="ko(1)">
                <label for="category2">수입</label>

                <select id="sel_company" name="manufacturer" onchange="addChange(this)">
                    <option selected>제조사</option>
                </select>

                <select id="sel_model" name="model" onchange="addChange2(this)">
                    <option selected>모델</option>
                </select>

                <select id="sel_detailModel" name="detail_model" >
                    <option selected>세부모델명</option>
                </select>
            </div>

            <h2>가격</h2>
            <div><input type="number" min="0" name="price" id="price">만원</div>
            <h1>기본옵션</h1>
            <h2>주행거리</h2>
            <div><input type="number" min="0" name="distan_driven" id="street">km</div>
            <div class="type">
                <h2>변속기 타입</h2>
                <div>
                    <input type="radio" id="gear1" name="gearbox" value="오토" checked>
                    <label for="gear1">오토</label>
                    <input type="radio" id="gear2" name="gearbox" value="수동">
                    <label for="gear2">수동</label>
                </div>
                <h2>연료 타입</h2>
                <div>
                    <input type="radio" id="fuel1" name="fuel" value="기본타입" checked>
                    <label for="fuel1">기본타입</label>
                    <input type="radio" id="fuel2" name="fuel" value="디필">
                    <label for="fuel2">디필</label>
                    <input type="radio" id="fuel3" name="fuel" value="LPG" >
                    <label for="fuel3">LPG</label>
                    <input type="radio" id="fuel4" name="fuel" value="하이브리드">
                    <label for="fuel4">하이브리드</label>
                </div>
            </div>
            <h2>색상</h2>
            <div id="color">
                <input type="radio" id="white" name="color" value="white" checked>
                <label class="back_white" for="white"></label>
                <input type="radio" id="black" name="color" value="black" >
                <label class="back_black" for="black"></label>
                <input type="radio" id="gray"  name="color" value="gray">
                <label class="back_gray" for="gray"></label>
                <input type="radio" id="red"  name="color" value="red">
                <label class="back_red" for="red"></label>
                <input type="radio" id="blue"name="color" value="blue">
                <label class="back_blue" for="blue"></label>
                <input type="radio" id="none"name="color">
                <label for="none">직접입력
                    <input class="input_color" type="color">
                </label>
            </div>
            <h2>거래 지역</h2>
            <div id="area">
                <input type="radio" id="soul" name="trading_area" value="서울" checked>
                <label for="soul">서울</label>
                <input type="radio" id="degu" name="trading_area" value="대구" >
                <label for="degu">대구</label>

            </div>
            <h2>추가옵션</h2>
            <div id="options">
                <input type="checkbox" id="aircon" name="option" value="aircon" >
                <label for="aircon"> <div class="option"><img th:src="@{/img/aircon.png}">
                </div>오토에어컨</label>

                <input type="checkbox" id="smart_key" name="option" value="smart_key" >
                <label for="smart_key"> <div class="option"><img th:src="@{/img/key.png}">
                </div>스마트키</label>

                <input type="checkbox" id="camera" name="option" value="camera" >
                <label for="camera"> <div class="option"><img th:src="@{/img/camera.png}">
                </div>후방카메라</label>

                <input type="checkbox" id="hi_pass" name="option" value="hi_pass" >
                <label for="hi_pass"> <div class="option"><img th:src="@{/img/hi_pass.png}">
                </div>하이패스</label>

                <input type="checkbox" id="navigation" name="option" value="navigation" >
                <label for="navigation"> <div class="option"><img th:src="@{/img/navigation.png}">
                </div>네비게이션</label>

                <input type="checkbox" id="bluetooth" name="option" value="bluetooth" >
                <label for="bluetooth"> <div class="option"><img th:src="@{/img/bluetooth.png}">
                </div>블루투스</label>
                <input type="hidden" id="checked_option" name="checked_option">
            </div>
            <h2>사진등록</h2>
            <div id="photo">
                <div>
                    <input type="file" id="file_upload" name="mainimg" class="hidden" accept="image/*" onchange="mainImg(event.target);">
                    <label for="file_upload"><img id="main_image" th:src="@{/img/main_car.png}">
                        <div>
                            차량 측면 사진을 올려주세요
                        </div>
                    </label>

                </div>
                <div id="sub_photo">
                    <div>
                        ▼다른 사진 추가하기(최대 6장)
                    </div>
                    <div>
                        <input type="file" id="sub_file" class="hidden" accept="image/*"  onchange="previewImage(this,'View_area')" multiple>
                        <input type="button" onclick="sub_fileBtn()" value="파일추가하기">
                    </div>
                    <input type="hidden" name="subimg" id="subimg">
                    <span id='View_area'
                          style='position:relative;'>
                    </span>
                </div>
            </div>

            <h2>설명글</h2>

            <div>
                <div class="in">
                    <span class="oo">차량상태:</span>
                    <div contenteditable="true" name="explanation"> </div>
                </div>

                <div class="in">
                    <span class="oo">사고유무: </span>
                    <div contenteditable="true" name="explanation"> </div>
                </div>

                <div class="in">
                    <span class="oo">관리상태:</span>
                    <div contenteditable="true" name="explanation"> </div>
                </div>

                <div class="in">
                    <span class="oo">내/외관 설명:</span>
                    <div contenteditable="true" name="explanation"> </div>
                </div>

                <div class="in">
                    <span class="oo">튜닝정보:</span>
                    <div contenteditable="true" name="explanation"> </div>
                </div>

                <div class="in">
                    <span class="oo">그외:</span>
                    <div contenteditable="true" name="explanation"> </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="explanations" id="explanations">
        <div class="inbtn">
            <div>
            <input type="submit" value="등록" id="btnSubmit">
            <input type="button" value="취소">
            </div>
        </div>
    </form>
<hr class="clear">
    <script defer th:src="@{/js/vehicle/write.js}"></script>
</th:block>>

