<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.vehicleservice.center.BoardMapper">
    <select id="selBoardList" resultType="BoardEntity">
        select quesiboard, title, isanswer, hits
        from question_board
        order by quesiboard desc
        LIMIT ${startIdx}, ${recordCount}
    </select>

    <select id="selBoard" resultType="BoardVo">
        SELECT A.quesiboard, A.writeriuser, A.title, A.ctnt, A.hits, A.rdt, B.nm as writerNm
        FROM question_board A
        INNER JOIN t_user B
        ON A.writeriuser = B.iuser
        WHERE A.quesiboard = #{quesiboard}
    </select>

    <select id="selMaxPageVal" resultType="ResultVo">
        select ceil(count(quesiboard) / ${recordCount}) as result
        from question_board
    </select>

    <insert id="insBoard">
        INSERT INTO question_board
            (writeriuser, title, ctnt)
        VALUES
            (${writeriuser}, #{title}, #{ctnt})
    </insert>

    <delete id="delBoard">
        delete from question_board where quesiboard = ${quesiboard} and writeriuser = ${writeriuser}
    </delete>

    <update id="modBoard">
        update question_board
        set title = #{title}, ctnt = #{ctnt}, mdt = now()
        where quesiboard = ${quesiboard} and writeriuser = ${writeriuser}
    </update>
</mapper>