<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.vehicleservice.user.UserMapper">
    <select id="selUser" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE
        <if test=" uid != null and email == null "> uid = #{uid} </if>
        <if test=" email != null and uid == null "> email = #{email} </if>
        <if test=" iuser > 0 "> iuser = ${iuser} </if>
        <if test=" uid != null and email != null "> uid = #{uid} and email = #{email} </if>
    </select>

    <insert id="insUser">
        insert into t_user
        (uid, upw, nm, birthday, phnum, email)
        values
        (#{uid}, #{upw}, #{nm}, #{birthday}, #{phnum}, #{email})
    </insert>

    <insert id="kaoInsUser">
        insert into t_user
            (uid, upw, nm, birthday, email, platform)
        values
            (#{uid}, #{upw}, #{nm}, #{birthday}, #{email}, #{platform})
    </insert>

    <insert id="navInsUser">
        insert into t_user
            (uid, upw, nm, birthday, phnum, email, platform)
        values
            (#{uid}, #{upw}, #{nm}, #{birthday}, #{phnum}, #{email}, #{platform})
    </insert>

    <update id="updUserUpw">
        update t_user
        set upw = #{upw}
        where uid = #{uid}
    </update>

</mapper>