<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.vehicleservice.vehicle.VehicleMapper">

    <insert id="inVehicle">
        insert into car_sell_board
        (writeriuser,category,manufacturer,model,detail_model,car_number,price,color,fuel,distan_driven,gearbox,trading_area)
        values
            (1,#{category},#{manufacturer},#{model},#{detail_model},#{car_number},#{price},#{color},#{fuel},#{distan_driven},#{gearbox},#{trading_area})
    </insert>

    <insert id="inCarimg">
        insert into car_image
            (selliboard,mainimg,folderaddr)
        values
            (${selliboard},#{mainimg},#{folderaddr})
    </insert>

    <select id="selMaxiboard" resultType="int">
        SELECT MAX(selliboard) FROM car_sell_board;
    </select>

    <insert id="inOptions">
        INSERT into car_option
            (selliboard,aircon,smart_key,camera,hi_pass,navigation,bluetooth)
        values
            (${selliboard},${aircon},${smart_key},${camera},${hi_pass},${navigation},${bluetooth})
    </insert>

    <insert id="inExplanation">
        INSERT into car_explanation
        (selliboard,car_state,accident_state,manage_state,inout_inform,tuning_inform,other)
        values
            (${selliboard},#{car_state},#{accident_state},#{manage_state},#{inout_inform},#{tuning_inform},#{other})
    </insert>

    <select id="selCarNum" resultType="VehicleEntity">
        SELECT car_number FROM car_sell_board
        WHERE car_number = #{car_number}
    </select>

    <select id="vehicleList" resultType="VehicleVo">
        SELECT A.selliboard, A.writeriuser, A.category, A.manufacturer, A.model, A.detail_model
             , A.price, A.color, A.fuel, A.distan_driven, A.gearbox, A.trading_area, A.car_number
             , B.mainimg
        FROM car_sell_board A
                 LEFT JOIN car_image B
                           ON A.selliboard = B.selliboard

        ORDER BY A.selliboard DESC
        LIMIT ${startIdx}, ${recordCount}
    </select>

    <select id="vehicleSearchList" resultType="VehicleVo">
        SELECT A.selliboard, A.writeriuser, A.category, A.manufacturer, A.model, A.detail_model
        , A.price, A.color, A.fuel, A.distan_driven, A.gearbox, A.trading_area, A.car_number
        , B.mainimg
        FROM car_sell_board A
        LEFT JOIN car_image B
        ON A.selliboard = B.selliboard
        where A.model LIKE concat('%',#{searchText},'%')
        or A.detail_model LIKE concat('%',#{searchText},'%')
        or A.manufacturer LIKE concat('%',#{searchText},'%')
        ORDER BY A.selliboard DESC
    </select>

    <select id="vehicledetail" resultType="VehicleVo">
        SELECT A.selliboard, A.writeriuser, A.category, A.manufacturer, A.model, A.detail_model
             , A.price, A.color, A.fuel, A.distan_driven, A.gearbox, A.trading_area, A.car_number
             , B.mainimg,C.aircon,C.smart_key,C.camera,C.hi_pass,C.navigation,C.bluetooth,
            D.car_state,D.accident_state,D.manage_state,D.inout_inform,D.tuning_inform,D.other
        FROM car_sell_board A
                 INNER JOIN car_image B
                            ON A.selliboard = B.selliboard
                 INNER JOIN car_option C
                            ON A.selliboard = C.selliboard
                 INNER JOIN car_explanation D
                            ON A.selliboard = D.selliboard
        WHERE A.selliboard = ${selliboard};
    </select>

    <insert id="likes">
        INSERT INTO likes
            (selliboard, likesiuser)
        VALUES
            (${selliboard}, ${likesiuser})
    </insert>

    <delete id="dellikes">
        DELETE FROM likes
        WHERE selliboard = ${selliboard}
          AND likesiuser =${likesiuser}
    </delete>

    <select id="jimchk" resultType="Integer">
        SELECT count(*)
        FROM likes
        WHERE selliboard= ${selliboard}
         AND likesiuser = ${likesiuser}
    </select>

    <select id="selMaxPageVal" resultType="VehicleDto">
        SELECT CEIL(COUNT(selliboard) / ${recordCount}) AS result
        FROM car_sell_board

    </select>
</mapper>