<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.vehicleservice.vehicle.VehicleMapper">

    <insert id="inVehicle">
        insert into car_sell_board
        (writeriuser,category,manufacturer,model,detail_model,car_number,price,color,fuel,distan_driven,gearbox,trading_area)
        values
            (${writeriuser},#{category},#{manufacturer},#{model},#{detail_model},#{car_number},#{price},#{color},#{fuel},#{distan_driven},#{gearbox},#{trading_area})
    </insert>

    <insert id="inCarimg">
        insert into car_image
            (selliboard,mainimg)
        values
            (${selliboard},#{mainimg})
    </insert>

    <select id="selMaxiboard" resultType="int">
        SELECT MAX(selliboard) FROM car_sell_board;
    </select>

    <insert id="inOptions">
        INSERT into car_option
            (selliboard,aircon,smart_key,camera,hi_pass,navigation,bluetooth)
        values
            (${selliboard},${aircon},${smart_key},${camera},${hi_pass},${navigation},${bluetooth})
    </insert>

    <insert id="inExplanation">
        INSERT into car_explanation
        (selliboard,car_state,accident_state,manage_state,inout_inform,tuning_inform,other)
        values
            (${selliboard},#{car_state},#{accident_state},#{manage_state},#{inout_inform},#{tuning_inform},#{other})
    </insert>

    <select id="selCarNum" resultType="VehicleEntity">
        SELECT car_number FROM car_sell_board
        WHERE car_number = #{car_number}
    </select>

    <select id="vehicleList" resultType="VehicleVo">
        SELECT A.selliboard, A.writeriuser, A.category, A.manufacturer, A.model, A.detail_model, A.likesum
        , A.price, A.color, A.fuel, A.distan_driven, A.gearbox, A.trading_area, A.car_number, A.hits
        , B.mainimg
        FROM car_sell_board A
                 LEFT JOIN car_image B
                           ON A.selliboard = B.selliboard
        where A.category = #{category}
        <if test='sort.equals("like")'>
            ORDER BY A.likesum desc
        </if>
        <if test='sort.equals("highPrice")'>
            ORDER BY A.price desc
        </if>
        <if test='sort.equals("lowPrice")'>
            ORDER BY A.price
        </if>
        <if test='sort.equals("basic")'>
            ORDER BY A.selliboard desc
        </if>

        LIMIT  ${startIdx}, ${recordCount}

    </select>


    <select id="homeSearchList" resultType="VehicleVo"> <!--홈 검색-->
        SELECT A.selliboard, A.writeriuser, A.category, A.manufacturer, A.model, A.detail_model
        , A.price, A.color, A.fuel, A.distan_driven, A.gearbox, A.trading_area, A.car_number
        , B.mainimg
        FROM car_sell_board A
        LEFT JOIN car_image B
        ON A.selliboard = B.selliboard

        <if test='!manufacturer.equals("null")'>
            WHERE A.manufacturer = #{manufacturer}
        </if>
        <if test='!model.equals("null")'>
            AND A.model = #{model}
        </if>
        <if test='!detail_model.equals("null")'>
            AND A.detail_model = #{detail_model}
        </if>
        <if test='sort.equals("like")'>
            ORDER BY A.likesum desc
        </if>
        <if test='sort.equals("highPrice")'>
            ORDER BY A.price desc
        </if>
        <if test='sort.equals("lowPrice")'>
            ORDER BY A.price
        </if>
        <if test='sort.equals("basic")'>
            ORDER BY A.selliboard desc
        </if>

        <if test='recordCount != 0'>
            LIMIT  ${startIdx}, ${recordCount}
        </if>

    </select>

    <select id="vehicleSearchList" resultType="VehicleVo"><!--모델명 검색-->
        SELECT A.selliboard, A.writeriuser, A.category, A.manufacturer, A.model, A.detail_model
        , A.price, A.color, A.fuel, A.distan_driven, A.gearbox, A.trading_area, A.car_number
        , B.mainimg
        FROM car_sell_board A
        LEFT JOIN car_image B
        ON A.selliboard = B.selliboard
        where A.category = #{category}
        and (A.model LIKE concat('%',#{searchVal},'%')
        or A.detail_model LIKE concat('%',#{searchVal},'%')
        or A.manufacturer LIKE concat('%',#{searchVal},'%'))

        <if test='sort.equals("like")'>
            ORDER BY A.likesum desc
        </if>
        <if test='sort.equals("highPrice")'>
            ORDER BY A.price desc
        </if>
        <if test='sort.equals("lowPrice")'>
            ORDER BY A.price
        </if>
        <if test='sort.equals("basic")'>
            ORDER BY A.selliboard desc
        </if>
        <if test='recordCount != 0'>
            LIMIT  ${startIdx}, ${recordCount}
        </if>
    </select>

    <select id="vehicleSearchList2" resultType="VehicleVo"><!--사이드 검색-->
        SELECT A.selliboard, A.writeriuser, A.category, A.manufacturer, A.model, A.detail_model
             , A.price, A.color, A.fuel, A.distan_driven, A.gearbox, A.trading_area, A.car_number
             , B.mainimg
        FROM car_sell_board A
                 LEFT JOIN car_image B
                           ON A.selliboard = B.selliboard
        <where>
        <if test="compunyResult.size()!=0">
        AND A.manufacturer IN
            <foreach collection="compunyResult" item="com" open="(" close=")" separator=",">
                #{com}
            </foreach>
        </if>
        <if test="Min_Mileage!=0">
            AND A.distan_driven &gt;= ${Min_Mileage}
        </if>
        <if test="Max_Mileage>0">
            AND A.distan_driven &lt;= ${Max_Mileage}
        </if>
        <if test="Min_price!=0">
            AND A.price &gt;= ${Min_price}
        </if>
        <if test="Max_price>0">
            AND A.price &lt;= ${Max_price}
        </if>
        <if test="gearboxResult.size()!=0">
            AND A.gearbox IN
            <foreach collection="gearboxResult" item="gearbox" open="(" close=")" separator=",">
                #{gearbox}
            </foreach>
        </if>
        <if test="fuelResult.size()!=0">
            AND A.fuel IN
            <foreach collection="fuelResult" item="fuel" open="(" close=")" separator=",">
                #{fuel}
            </foreach>
        </if>
        <if test="ariaResult.size()!=0">
            AND A.trading_area IN
            <foreach collection="ariaResult" item="aria" open="(" close=")" separator=",">
                #{aria}
            </foreach>
        </if>
                AND A.category = #{category}
        </where>
        <if test='sort.equals("like")'>
            ORDER BY A.likesum desc
        </if>
        <if test='sort.equals("highPrice")'>
            ORDER BY A.price desc
        </if>
        <if test='sort.equals("lowPrice")'>
            ORDER BY A.price
        </if>
        <if test='sort.equals("basic")'>
            ORDER BY A.selliboard desc
        </if>
        <if test='recordCount != 0'>
            LIMIT  ${startIdx}, ${recordCount}
        </if>
    </select>

    <select id="vehicledetail" resultType="VehicleVo">
        SELECT A.selliboard, A.writeriuser, A.category, A.manufacturer, A.model, A.detail_model
             , A.price, A.color, A.fuel, A.distan_driven, A.gearbox, A.trading_area, A.car_number
             , B.mainimg,C.aircon,C.smart_key,C.camera,C.hi_pass,C.navigation,C.bluetooth,
            D.car_state,D.accident_state,D.manage_state,D.inout_inform,D.tuning_inform,D.other, E.nm as writerNm, E.iuser
        FROM car_sell_board A
                 INNER JOIN car_image B
                            ON A.selliboard = B.selliboard
                 INNER JOIN car_option C
                            ON A.selliboard = C.selliboard
                 INNER JOIN car_explanation D
                            ON A.selliboard = D.selliboard
                 INNER JOIN t_user E
                            ON A.writeriuser = E.iuser
        WHERE A.selliboard = ${selliboard};
    </select>

    <insert id="likes">
        INSERT INTO likes
            (selliboard, likesiuser)
        VALUES
            (${selliboard}, ${likesiuser})
    </insert>

    <delete id="dellikes">
        DELETE FROM likes
        WHERE selliboard = ${selliboard}
          AND likesiuser =${likesiuser}
    </delete>

    <select id="jimchk" resultType="Integer">
        SELECT count(*)
        FROM likes
        WHERE selliboard= ${selliboard}
         AND likesiuser = ${likesiuser}
    </select>

    <select id="selMaxPageVal" resultType="VehicleDto">  <!--전체 리스트에대한 max페이지-->
        SELECT ceil(COUNT(selliboard) / ${recordCount}) AS result
        FROM car_sell_board
        WHERE category=#{category}
    </select>

    <select id="searchMaxPageVal" resultType="VehicleDto"><!--모델명검색에대한 max페이지-->
        SELECT ceil(COUNT(selliboard) / ${recordCount}) AS result
        FROM car_sell_board
        where model LIKE concat('%',#{searchVal},'%')
           or detail_model LIKE concat('%',#{searchVal},'%')
           or manufacturer LIKE concat('%',#{searchVal},'%')
    </select>

    <select id="sideSearchMaxPageVal" resultType="VehicleDto"><!--사이드 검색에대한 max페이지-->
        SELECT ceil(COUNT(selliboard) / ${recordCount}) AS result
        FROM car_sell_board
        <where>
            <if test="compunyResult.size()!=0">
                AND manufacturer IN
                <foreach collection="compunyResult" item="com" open="(" close=")" separator=",">
                    #{com}
                </foreach>
            </if>
            <if test="Min_Mileage!=0">
                AND distan_driven &gt;= ${Min_Mileage}
            </if>
            <if test="Max_Mileage>0">
                AND distan_driven &lt;= ${Max_Mileage}
            </if>
            <if test="Min_price!=0">
                AND price &gt;= ${Min_price}
            </if>
            <if test="Max_price>0">
                AND price &lt;= ${Max_price}
            </if>
            <if test="gearboxResult.size()!=0">
                AND gearbox IN
                <foreach collection="gearboxResult" item="gearbox" open="(" close=")" separator=",">
                    #{gearbox}
                </foreach>
            </if>
            <if test="fuelResult.size()!=0">
                AND fuel IN
                <foreach collection="fuelResult" item="fuel" open="(" close=")" separator=",">
                    #{fuel}
                </foreach>
            </if>
            <if test="ariaResult.size()!=0">
                AND trading_area IN
                <foreach collection="ariaResult" item="aria" open="(" close=")" separator=",">
                    #{aria}
                </foreach>
            </if>
            AND category = #{category}
        </where>
    </select>

    <select id="homeMaxPageVal" resultType="VehicleDto"><!--홈검색에 대한 max페이지-->
        SELECT ceil(COUNT(selliboard) / ${recordCount}) AS result
        FROM car_sell_board
        <where>
        <if test='!manufacturer.equals("null")'>
            AND manufacturer = #{manufacturer}
        </if>
        <if test='!model.equals("null")'>
            AND model = #{model}
        </if>
        <if test='!detail_model.equals("null")'>
            AND detail_model = #{detail_model}
        </if>
        </where>
    </select>

    <update id="likeCount">
        update car_sell_board
        set likesum = likesum + 1
        where selliboard = ${selliboard}
    </update>

    <update id="likeMinus">
        update car_sell_board
        set likesum = likesum - 1
        where selliboard = ${selliboard}
    </update>

    <update id="hitsCount">
        update car_sell_board
        set hits = hits + 1
        where selliboard = ${selliboard}
    </update>

    <select id="selLikeLank" resultType="VehicleVo">
        SELECT A.selliboard, A.model, A.likesum, B.mainimg
        FROM car_sell_board A LEFT JOIN car_image B ON A.selliboard = B.selliboard
        ORDER BY likesum desc
        LIMIT 9
    </select>

    <select id="selhitsLank" resultType="VehicleVo">
        SELECT A.selliboard, A.model, A.hits, B.mainimg
        FROM car_sell_board A LEFT JOIN car_image B ON A.selliboard = B.selliboard
        ORDER BY hits desc
        LIMIT 9
    </select>
</mapper>