<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout"> <!--타임리프를 사용하겠다는말-->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/center/customer.css}">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script defer th:src="@{/js/center/customer.js}"></script>
    <title>고객센터</title>
</head>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <aside class="col-md-2 border border-1">
                <span id="customCenter">고객센터</span>
                <ul id="menu">
                    <li id="board">질문게시판</li>
                    <li id="guide">서비스가이드</li>
                    <li id="introduction">사이트소개</li>
                    <li id="notice">공지사항</li>
                </ul>
            </aside>
            <section class="col-md-8 bg-light">
            </section>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</th:block>
</html>