<link rel="stylesheet" href="/css/center/detailnotice.css">
<button type="button" id="writeBtn" class="btn btn-primary">글쓰기</button>
<button type="button" id="modBtn" class="btn btn-primary">수정</button>
<button type="button" class="btn btn-primary">삭제</button>
<div class="btnBox border border-2">
    <div>
        <h1 class="d-inline-block">1</h1>
        <h2 class="d-inline-block">안녕하세요</h2>
    </div>
    <div>
        <h6 class="d-inline-block">작성자</h6>
        <h6 class="d-inline-block">등록시간</h6>
        <h6 class="d-inline-block">조회수</h6>

    </div>
</div>
<div class="container containers border border-2">
    Content
</div>
<script src="/js/center/detailnotice.js"></script>