<link rel="stylesheet" href="/css/center/detailquestion.css">
<input th:if="${session.loginUser != null}" type="hidden" class="loginUserInfrm">
<button type="button" id="writeBtn" class="btn btn-primary">글쓰기</button>
<button th:if="${session.loginUser != null && session.loginUser.getIuser() == item.writeriuser}" type="button" id="modBtn" class="btn btn-primary">수정</button>
<button th:if="${session.loginUser != null && session.loginUser.getIuser() == item.writeriuser}" type="button" id="delBtn" class="btn btn-primary">삭제</button>
<a th:href="@{/center/customer}"><button type="button" class="btn btn-primary">목록</button></a>
<div class="btnBox border-top border-2">
    <div id="data" th:data-quesiboard="${item.quesiboard}">
        <h1 class="d-inline-block" th:text="${item.quesiboard}"></h1>
        <h2 class="d-inline-block" th:text="${item.title}"></h2>
    </div>
    <div>
        <h6 class="d-inline-block" th:text="${item.writerNm}"></h6>
        <h6 class="d-inline-block" th:text="${item.rdt}"></h6>
        <h6 class="d-inline-block" th:text="${item.hits}"></h6>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 questionContent border-top border-2" th:text="${item.ctnt}">

        </div>
        <div class="col-12 answerContent border-top border-2">
            A
        </div>
    </div>
</div>
<script src="/js/center/detailquestion.js"></script>