<div class="serviceContainer">
    <div>
        자주하는 질문
    </div>
    <div>
        <details>
            <summary>거래는 어떻게 이루어지나요?</summary>
            <p>
                본 사이트는 직거래 방식을 채택하고 있으며 채팅방을 이용, 대화를 통한 거래가 이루어지게 됩니다. 거래방법은 아무런 제약이 없으며,
                판매자와 구매자 간 자유롭게 매매를 체결 하실 수 있습니다. 거래가 성사된 후, 선정된 접선지역에서 직거래를 완료하시면 됩니다.
            </p>
        </details>
        <details>
            <summary>별점 시스템에 대해 알고싶어요!</summary>
            <p>
                별점 시스템은 거래가 완료된 후, 구매자가 별점을 이용하여 판매자에 대한 평가를 진행할 수 있습니다. 별점은 최소1개 ~ 최대5개까지
                매김으로써 평균으로 계산이되고, 평균 별점은 추후 판매자에 대한 평판으로 적용됩니다.
            </p>
        </details>
        <details>
            <summary>채팅목록은 어떻게 지우나요?</summary>
            <p>
                직거래 완료후, 판매자는 마이페이지에있는 채팅목록 서비스를 이용하여 구매자 이름을 클릭 후, 판매완료 버튼을 눌러
                채팅기록을 삭제하실 수 있습니다. 한번 삭제한 채팅기록은 다시 복원할 수 없으며, 중요한 데이터는 별도로 백업하시길 바랍니다.
            </p>
        </details>
        <details>
            <summary>좋아요 기능에 대해 궁금합니다.</summary>
            <p>
                차량판매게시판에서 선호하는 모델이 있으실경우 좋아요를 클릭할 수 있습니다. 좋아요를 클릭한 모델은 마이페이지에 있는
                좋아요목록 서비스를 이용하여 관리하실 수 있으며, 좋아요 전체 삭제 버튼을 눌러 목록전체를 일괄 삭제 하실 수 있습니다.
            </p>
        </details>
    </div>
</div>