<div class="noticeContainer">
    <input th:if="${session.loginUser != null}" type="hidden" class="loginUserInfrm">
    <button th:if="${session.loginUser != null && session.loginUser.getNm().toString().equals('관리자')}" type="button" class="btn btn-primary writeBtn mb-2">글쓰기</button>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${list}">
                <td th:text="${item.iboard}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.hits}"></td>
            </tr>
        </tbody>
    </table>
    <div id="pageContainer" class="mt-3">
        <nav>
            <ul class="pagination justify-content-center"></ul>
        </nav>
    </div>
</div>
<script src="/js/center/notice.js"></script>
