.btnBox{
    padding: 5px;
    height: 100px;
    width: 100%;
    margin-top: 80px;
    vertical-align: bottom;
}

.floatRiBtn{
    float: right;
    margin-top: 30px;
}

.floatLeBtn{
    float: left;
    margin-top: 30px;
}

.questionContent{
    height: 220px;
}

.answerContent{
    /*height: 220px;*/
}

.btnBox > div:nth-child(2){
    height: 38px;
    line-height: 40px;
}

form > input{
    float: right;
    margin-top: 10px;
}