/* 홈페이지 */

a { text-decoration: none; cursor: pointer;}
button {
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    border: none; cursor: pointer;
}
/* 본문 --------------------------------------------------------- [start] */
main {
    display: grid; grid-template-columns: 1fr 8fr 1fr;
}
main > div {
    grid-column: 2/3;
    display: grid; grid-template-columns: 2fr 1fr; gap: 20px 0px;
}
main > div > section {
    border: 1px solid rgb(192, 223, 236);
    padding: 20px;
}
/* 본문>차량검색 ------------------------------------------------ [start] */
#search_car_home {}
/* 본문>차량검색>국산수입버튼 ----------------------------------- [start] */
#dom_inc_btn {
    display: flex;
}
#dom_inc_btn > button {
    background-color: white;
    font-weight: bold; padding: 4px 10px 6px 10px;
    font-size: 14px;
}
/* 본문>차량검색>모델선택드롭 ----------------------------------- [start] */
#detail_search_dropdown {
    display: flex;
}
#detail_search_dropdown > div {
    display: flex;
}
#detail_search_dropdown > div:first-child {
    width: 75%;
}
#detail_search_dropdown > div > select {
    border: 1px solid rgb(113, 216, 253);
    padding: 10px 0px 10px 5px; font-size: 100%;
}

#country_select, #model_select { width: 25%; }
#detail_model_select { width: 50%; }

#detail_search_btn > button {
    background-color: rgb(113, 216, 253);
    border: 1px solid rgb(113, 216, 253);
}
/* 본문>차량검색 ------------------------------------------------ [end] */
/* 본문>로그인 -------------------------------------------------- [start] */
#login_home {
    display: flex; flex-direction: column; align-items: center; gap: 5px;
}
.btn_in_div {
    display: flex; justify-content: center;
}
#login_home_btn {
    width: 100%;
    display: flex; justify-content: center;
}
#login_home_btn > button {
    width: 80%; padding: 30px 0px;
    background-color: rgb(113, 216, 253);
    font-weight: bold; color: white; font-size: 20px;
    border-radius: 4px;
}
#login_home_sub_btn {
    width: 80%;
    display: grid; grid-template-columns: 7fr 5fr; gap: 10px;
}
#login_home_sub_btn a {
    font-size: 90%; display: flex; justify-content: center;
}
/* 본문>로그인 -------------------------------------------------- [end] */
/* 본문>인기매물 ------------------------------------------------ [start] */
#popular_sales_home {
    width: 100%; height: 220px;
    padding-left: 0px; padding-right: 0px;
}
.check_like_btns {
    margin-bottom: 10px; padding-left: 20px;
}
#popular_sales_container {
    width: 45%; margin-left: 10px;
    position: absolute;
    overflow: hidden;
}
.prev_next_btns {
    display: flex; justify-content: space-between;
    padding: 0px;
    width: 100%; font-size: 40px;
    position: absolute; top: 30%;
    z-index: 2; cursor: pointer;
}
#popular_sales_list {
    display: flex;
    transition: 0.2s;
}
.popular_sales_img {
    display: flex; flex-direction: column; align-items: center;
}
#popular_sales_list > div > img {
    width: 100px; height: 100px;
}
/* 본문>인기매물 ------------------------------------------------ [end] */
/* 본문>내차팔기 ------------------------------------------------ [start] */
#selling_mycar_home > div:first-child {
    font-size: 20px; margin-bottom: 10px;
}
#selling_mycar_home > div:last-child {
    display: flex; justify-content: center;
}
#selling_mycar_home a {
    background-color: rgb(113, 216, 253); color: white;
    display: flex; flex-direction: column; align-items: center;
    padding: 10% 0px; width: 80%;
    font-weight: bold; font-size: 20px; border-radius: 4px;
}
#selling_mycar_home a > i {
    font-size: 30px;
}
/* 본문>내차팔기 ------------------------------------------------ [end] */
/* 본문>뉴스 ---------------------------------------------------- [start] */
#news_home {
}
#news_home > div:first-child {
    font-size: 20px; margin-bottom: 10px;
}
#news_container {
    display: grid; grid-template-columns: repeat(5, 1fr);
    gap: 30px 10px;
}
#news_container > div {
    width: 100%; height: 100%;
}
#news_container > div > a > div:nth-child(1) {
    width: 100%; height: 50%;
    display: flex; justify-content: center;
}
#news_container img {
    width: 100%; height: 100%;
}
#news_container > div > a > div:nth-child(2) {
    font-size: 13px; font-weight: bold;

    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#news_container > div > a > div:nth-child(3) {
    font-size: 10px;

    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#news_container > div > a > div:nth-child(4) {
    font-size: 10px;
    font-weight: bold;
}
/* 본문>뉴스 ---------------------------------------------------- [end] */
/* 본문>고객센터 ------------------------------------------------ [start] */
#customer_service_home > div {
    margin-bottom: 5px;
}
#qn_btns {
    display: flex;
}
#qn_btns > button {
    border-top-right-radius: 4px; border-top-left-radius: 4px;
    background-color: rgb(195, 235, 250);
    width: 50%; padding: 5px;
}
#qn_mini_board > div {
    display: flex; flex-direction: column;
    border-left: 1px solid rgb(113, 216, 253);
    border-right: 1px solid rgb(113, 216, 253);
    border-bottom: 1px solid rgb(113, 216, 253);
    padding: 5px 5px 5px 10px;
}
#qn_mini_board > div:first-child {
    position: relative;
}
#qn_mini_board > div:last-child {
    position: relative;
    display: none;
}
#customer_service_otherbtns > div {
    margin-bottom: 5px;
    display: flex; justify-content: center;
}
#customer_service_otherbtns > div > button {
    background-color: rgb(113, 216, 253);
    border-radius: 5px; width: 100%;
}
#insurance_board {
    display: none; justify-content: center;
    padding: 5px 5px 5px 10px;
}
#insurance_board > a {
    color: black; font-weight: bold;
}
/* 본문>고객센터 ------------------------------------------------ [end] */
/* 본문 --------------------------------------------------------- [end] */

@media(max-width: 1200px) {
    #news_container {
        display: grid; grid-template-columns: repeat(4, 1fr);
    }
    #login_home_sub_btn a:first-child {
        grid-column: 1/3;
    }
    #login_home_sub_btn a:last-child {
        grid-column: 1/3;
    }
}
@media(max-width: 768px) {
    #news_container {
        display: grid; grid-template-columns: repeat(3, 1fr);
    }
    #search_car_home, #login_home, #popular_sales_home, #selling_mycar_home
    , #news_home, #customer_service_home {
        grid-column: 1/3;
    }
    #popular_sales_container {
        width: 73%;
    }
    #login_home_sub_btn a:first-child {
        grid-column: 1/2;
    }
    #login_home_sub_btn a:last-child {
        grid-column: 2/3;
    }
}

.iconBox{
    display: inline-block;
}

.iconBox > img{
    width: 150px;
}

.weatherBox{
    margin-top: 30px;
    background: linear-gradient(#c8ddee, #ffffff);
    border-radius: 30px;
}

.weatherText{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.weather-font{
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: black;
    opacity: 60%;
    padding: 15px;
}

.lookUp{
    margin-top: 20px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#weather, #humidity, #city, #temp, #temp2{
    text-align: left;
}

.check_like_btns > button:first-child{
    height: 30px;
}

.check_like_btns > button:last-child{
    height: 30px;
}

.hitsBtn{
    color: white;
    background-color: rgb(123, 209, 240);
    font-weight: bold;
}