a{
    text-decoration: none;
    color: black;
}

#mypage_title {
    cursor: pointer;
}

.active{
    background-color: rgb(113, 216, 253)!important;
}

.userinfo>a:hover, .buylist>a:hover, .sellinfo>a:hover, .chatlist>a:hover, .likelist>a:hover{
    background-color: rgb(113, 216, 253);
    color : #fff !important;
    border-radius: 5px;
}

.sidebarMenu_menu>.nav-item>a{
    color:black;
}

.sidebarMenu_menu>.nav-item>.active {
    background-color: rgb(113, 216, 253);
}

#jjim_Del_Btn{
    background-color: rgb(113, 216, 253);
    border-color :rgb(113, 216, 253);
}

#jjim_Del_Btn:focus {
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgb(113, 216, 253);
}

.sidebarMenu_menu>.nav-item>.active{
    background-color: rgb(113, 216, 253);
    box-shadow: 0 0 0 0.2rem rgb(113, 216, 253);}

.sidebarMenu_menu>.nav-item>.active{
    background-color: rgb(113, 216, 253);
}

/* 헤더 홈이랑 안맞아서 작업 */
#menubar_header > nav > ul{
    margin: 0;
    padding: 0;
}

#menubar_header a{
    text-decoration: none;
}

#loginbar_header > nav > ul{
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
}

#loginbar_header a{
    text-decoration: none;
}