<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout"> <!--타임리프를 사용하겠다는말-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script defer th:src="@{/js/home.js}"></script>
    <title>홈</title>
</head>

<th:block layout:fragment="content">
    <!-- 본문 ------------------------------------------------- [start] -->
    <main>
        <div>
            <!-- 차량검색 -------------------------------------- [start] -->
            <section id="search_car_home">
                <form action="/ajax/vehicle/list" method="post" onsubmit="return false" id="homeSearch">
                <div id="dom_inc_btn">
                    <button onclick="ko(0)" >국산</button>
                    <button onclick="ko(1)" >수입</button>

                </div>
                <div id="detail_search_dropdown">
                    <div>
                        <select id="country_select" name="manufacturer" onchange="addChange(this)">
                            <option selected>제조사</option>
                        </select>
                        <select id="model_select" name="model" onchange="addChange2(this)">
                            <option selected>모델</option>
                        </select>
                        <select id="detail_model_select" name="detail_model">
                            <option selected>세부모델</option>
                        </select>
                    </div>
                    <div id="detail_search_btn"><button id="btnSubmit">검색</button></div>
                </div>
                </form>
            </section>
            <!-- 차량검색 -------------------------------------- [end] -->
            <!-- 로그인 ---------------------------------------- [start] -->
            <section id="login_home">
                <div th:if="${session.loginUser != null}">
                   <div th:text="${session.loginUser.getNm()}"></div>
                </div>
                <div id="login_home_btn" class="btn_in_div"><button>로그인</button></div>

                <div id="login_home_sub_btn" class="btn_in_div">
                    <a th:href="@{/user/find}">아이디/비밀번호 찾기</a>
                    <a th:href="@{/user/join}">회원가입</a>
                </div>
            </section>
            <!-- 로그인 ---------------------------------------- [end] -->
            <!-- 인기매물 -------------------------------------- [start] -->
            <section id="popular_sales_home">
                <div class="check_like_btns">
                    <a>조회순</a> / <a>좋아요순</a>
                </div>
                <div id="popular_sales_container">
                    <div class="prev_next_btns">
                        <i class="fa-solid fa-chevron-left popPrev"></i>
                        <i class="fa-solid fa-chevron-right popNext"></i>
                    </div>
                    <div id="popular_sales_list">
                        <div class="popular_sales_img">
                            <img th:src="@{/img/avante.jpg}" alt="pop1">
                            <div>인기매물1</div>
                        </div>
                        <div class="popular_sales_img">
                            <img th:src="@{/img/avante.jpg}" alt="pop2">
                            <div>인기매물2</div>
                        </div>
                        <div class="popular_sales_img">
                            <img th:src="@{/img/avante.jpg}" alt="pop3">
                            <div>인기매물3</div>
                        </div>
                        <div class="popular_sales_img">
                            <img th:src="@{/img/avante.jpg}" alt="pop4">
                            <div>인기매물4</div>
                        </div>
                        <div class="popular_sales_img">
                            <img th:src="@{/img/avante.jpg}" alt="pop5">
                            <div>인기매물5</div>
                        </div>
                        <div class="popular_sales_img">
                            <img th:src="@{/img/avante.jpg}" alt="pop6">
                            <div>인기매물6</div>
                        </div>
                        <div class="popular_sales_img">
                            <img th:src="@{/img/avante.jpg}" alt="pop7">
                            <div>인기매물7</div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 인기매물 -------------------------------------- [end] -->
            <!-- 내차팔기 -------------------------------------- [start] -->
            <section id="selling_mycar_home">
                <div>내차팔기</div>
                <div>
                    <a th:href="@{/vehicle/write/}">
                        내 차 등록<br>
                        <i class="fa-solid fa-right-long"></i>
                    </a>
                </div>
            </section>
            <!-- 내차팔기 -------------------------------------- [end] -->
            <!-- 뉴스 -------------------------------------- [start] -->
            <section id="news_home">
                <div>뉴스</div>
                <div id="news_container">
                    <div th:each="news : ${newsList}">
                        <a th:href="${news.originallink}">
                            <div><img th:src="@{/img/news_img} + ${news.newspk} + @{.jpg}" alt="news1"></div>
                            <div th:utext="${news.title}"></div>
                            <div th:utext="${news.description}"></div>
                            <div th:text="${news.pubDate}"></div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- 뉴스 -------------------------------------- [end] -->
            <!-- 고객센터 -------------------------------------- [start] -->
            <section id="customer_service_home">
                <div>
                    <div id="qn_btns">
                        <button>질문 게시판</button>
                        <button>공지사항</button>
                    </div>
                    <div id="qn_mini_board">
                        <div>
                            <a>질문 게시판 내용1</a>
                            <a>질문 게시판 내용2</a>
                            <a>질문 게시판 내용3</a>
                        </div>
                        <div>
                            <a>공지사항 내용1</a>
                            <a>공지사항 내용2</a>
                            <a>공지사항 내용3</a>
                        </div>
                    </div>
                </div>
                <div id="customer_service_otherbtns">
                    <div id="insurance_btn"><button>보험료 조회</button></div>
                </div>
                <div id="insurance_board">
                    <a href="https://www.directdb.co.kr" target="_blank">DB손해보험다이렉트</a>
                    <br>
                    <a href="https://www.directdb.co.kr" target="_blank">한화보험다이렉트</a>
                </div>
                <div id="weather" class="weather-font">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </section>
            <!-- 고객센터 -------------------------------------- [end] -->
        </div>
    </main>
    <!-- 본문 ------------------------------------------------- [end] -->
</th:block>