
*{box-sizing: border-box;}

html,body{padding: 0; margin: 0;}
a{text-decoration: none; color: black;}
ul,li{list-style: none;}

.header_bar{ text-align: center; height:30px; margin-top: 40px;display: grid; grid-template-columns: repeat(4,1fr); }
.top{display: grid; grid-template-columns: 750px 1fr;
    grid-template-rows: 300px 1fr;
    grid-column-gap: 20px; margin-bottom: 90px;}

.top > div:last-child {
    font-size: 20px;
}

#boardTitle {
    font-size: 30px;
    font-weight: 900;
}

.slide_show {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 50px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.slider-nav{
    width: 350px;
    /*width: 800px;*/
    height: 100%;
}
.slider-nav img {
    width: 30px;
    height: 30px;
    border: 1px solid ;
}

.a{
    width: 50px;
}
.slick-track{
    width: 100px;
}

.slick-slide {
    width: 30px;
}
/* 위에있는이미지 를 감싼 div 크기 */
.slider-for {
    display: grid;
    border: 1px solid ;
}
.slider-for img{
    width: 100%;
    height: 250px;
}
.slide{
    width: 700px;
    height: 100%;
    border: 1px solid;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    margin: 0 auto;  /*슬라이드 쇼 너비 크기*/
}

#textarea{
    margin-bottom: 90px;
    font-size: 25px;
}

.slider-navbar{display: grid; justify-content: center;
}

.header_bar div{cursor: pointer; font-size: 20px}

#infomation{
    font-size: 25px;
}



.next.slick-arrow,.prev.slick-arrow{
    display: grid;
    background-color: black;
    justify-items: center;
    align-items: center;}


.next span::after,.prev span::after {
    content: '';
    width: 22px; /* 사이즈 */
    height: 22px; /* 사이즈 */
    border-top: 8px solid white; /* 선 두께 */
    border-right: 8px solid white; /* 선 두께 */
    display: inline-block;
}

.prev span::after{
    transform: rotate(225deg); /* 각도 */
}

.next span::after{
    transform: rotate(45deg); /* 각도 */
}

.slick-slide{
    width: 100px;
}

#chattingBtn {
    width: 360px;
    height: 100px;
    margin: 0 auto;
    background-color: skyblue;
    color: white;
    font-size: 25px;
    border-radius:1.2em;
}

.btnbox{
    text-align: center;
    margin-top: 30px;
}

.checklist{
    text-align: center;
}

.checklist img{
    width: 80%;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.option>img{
    width: 50px;
    height: 50px;
}
.option{
    border: solid 2px black;
    width: 80px;
    height: 80px;
    border-radius: 20% 20% 20% 20%;
    cursor: pointer;
}

.car_color{
    border: 2px solid black;
    display: inline-block;
    width: 100px;
    height: 30px;
}

/* 헤더 홈이랑 안맞아서 작업 */
#menubar_header > nav > ul{
    margin: 0;
    padding: 0;
}

#menubar_header a{
    text-decoration: none;
}

#loginbar_header > nav > ul{
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
}

#loginbar_header a{
    text-decoration: none;

}

.options{
    display: grid;
    gap: 20px;
    text-align: center;
    font-weight: bold;
    grid-template-columns: repeat(9,90px);
    margin-bottom: 90px;
}
