
a{
    text-decoration: none;
    color:black;
}

#list_order{
    margin-bottom: 24px;
}


#search__area_btn:hover{
    color: white;
}


.accordion-button{

}
.car_img, .card-title, .pointer{
    cursor: pointer;
}

/* 헤더 홈이랑 안맞아서 작업 */
#menubar_header > nav > ul{
    margin: 0;
    padding: 0;
}

#menubar_header a{
    text-decoration: none;
}

#loginbar_header > nav > ul{
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
}

#loginbar_header a{
    text-decoration: none;
}
