<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <header>
        <div>
            <div id="image_logo_home">
                <img th:src="@{/img/chacha_logo1.png}" alt="Logo">
            </div>
            <div id="menubar_header">
                <nav>
                    <ul>
                        <li><a th:href="@{/list}">국산</a></li>
                        <li><a th:href="@{/list}">수입</a></li>
                        <li><a href="#">내차팔기</a></li>
                        <li><a th:href="@{/center/customer}">고객센터</a></li>
                    </ul>
                </nav>
            </div>
            <div id="loginbar_header">
                <nav>
                    <ul th:if="${session.loginUser == null}">
                        <li><a th:href="@{/user/login}">로그인</a></li>
                        <li><a th:href="@{/user/join}">회원가입</a></li>
                    </ul>
                    <ul th:if="${session.loginUser != null}">
                        <li><a th:href="@{/mypage/userinfo}">마이페이지</a></li>
                        <li><a th:href="@{/user/logout}">로그아웃</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</th:block>
<th:block th:fragment="footer">
    <footer>
        footer
    </footer>
</th:block>


</html>