<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <header>
        <div>
            <div id="image_logo_home">
                <img th:src="@{/img/chacha_logo1.png}" alt="Logo">
            </div>
            <div id="menubar_header">
                <input th:if="${session.loginUser != null}" type="hidden" class="loginUserInfrm">
                <nav>
                    <ul>
                        <li><a th:href="@{/vehicle/list}" onclick="allList()">국산</a></li>
                        <li><a th:href="@{/vehicle/forlist}">수입</a></li>
                        <li id="selling_mycar"><a>내차팔기</a></li>
                        <li><a th:href="@{/center/customer}">고객센터</a></li>
                    </ul>
                </nav>
            </div>
            <div id="loginbar_header">
                <nav>
                    <ul th:if="${session.loginUser == null}">
                        <li><a th:href="@{/user/login}">로그인</a></li>
                        <li><a th:href="@{/user/join}">회원가입</a></li>
                    </ul>
                    <ul th:if="${session.loginUser != null}">
                        <li><a th:href="@{/mypage/userinfo}">마이페이지</a></li>
                        <!--카카오 계정과 함께 로그아웃-->
                        <li><a href="https://kauth.kakao.com/oauth/logout?client_id=0e08b6c96d5f791a6eb59bd54c31aa90&logout_redirect_uri=http://localhost:8090/user/logout">로그아웃</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <script defer th:src="@{/js/temp/fragments.js}"></script>
</th:block>
<th:block th:fragment="footer">
    <footer>
        <div>
            <div id="img_logo_footer">
<!--                <img th:src="@{/img/chacha_logo1.png}" alt="Logo">-->
            </div>
            <div>
                <div>
                    명칭 : 내차네차  |  등록연월 : 2021.12.17  |  발행연월 : 2022.03.14<br>
                    발행인 : 김재륜, 신재완, 이승준, 하승화<br>
                    전화번호 : 053-710-5890  |  Email : asv@naver.com<br>
                    발행소 : https://github.com/jaewanjaewan/VehicleService
                </div>
            </div>
        </div>
    </footer>
</th:block>


</html>