<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!--타임리프를 사용하겠다는말-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">내차네차</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <div>
        <th:block th:replace="temp/fragments :: header"></th:block>
        <div>
            <th:block layout:fragment="content"></th:block>
        </div>
        <th:block th:replace="temp/fragments :: footer"></th:block>
    </div>
<script src="/js/common.js"></script>
</body>
</html>