<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!--타임리프를 사용하겠다는말-->
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">내차네차</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <div>
        <th:block th:replace="temp/fragments :: header"></th:block>
        <div>
            <th:block layout:fragment="content"></th:block>
        </div>
        <th:block th:replace="temp/fragments :: footer"></th:block>
    </div>
<script src="/js/common.js"></script>
</body>
</html>